/* Styling */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Body */

/* Header */

header{
    height: 100px;
    background-color: lightseagreen;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

/* nav bar */

.unstyled{
    list-style: none;
}

li{
    display: inline-block;
}


/* center image */

.image_placeholder{
    background-color: brown;
    margin: auto;
    width: 80%;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* title */

.title {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
}

/* 3 colums */

.container{
    background-color: darkgrey;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.content{
    background-color: green;
    width: 50%;
    height: 100%;
    float: left;
}

.left_sidebar{
    background-color: blue;
    width: 25%;
    height: 100%;
    float: left;
}

.right_sidebar{
    background-color: orange;
    width: 25%;
    height: 100%;
    float: left;
}

/* footer */

footer{
    background-color: violet;
    width: 80%;
    height: 30px;
    margin: auto;
    text-align: center;
}
